
.chatPage{
    max-width: 800px;
    margin: 0px auto;
    position: relative;
    top: 12vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background: black;
    border-radius: 35px;
}
.ant-comment {
  position: relative;
  width: 25vw;
  border: 1px solid black;
  border-radius: 35px;
  padding: 0px 20px;
}
.infinite-container{
    height: 500px;
    overflow-y: scroll;

}
.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2979FF;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
  }

  .leftInnerContainer {
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
  }

  .rightInnerContainer {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 5%;
  }

  .onlineIcon {
    margin-right: 5%;
  }
  .ant-comment-content-author > a, .ant-comment-content-author > span {
    padding-right: 8px;
    font-size: 12px;
    line-height: 18px;
    color: white;
  }

  /* mobile view */
  @media (max-width: 600px)  {
    .chatPage{
    max-width: 800px;
    top:0;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px;
    }
    .infinite-container{
        height: 92vh;
        overflow-y: scroll;

    }
    .ant-comment {
      position: relative;
      width: 90vw;
      border: 1px solid black;
      border-radius: 35px;
      padding: 0px 20px;
  }
}